{% extends 'admin/admin.html' %}
{% block title %}Редактировать {{ goodweight.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_good_weight_index' %}">«Варианта веса»</a></li>
        <li class="active">Редактировать {{ goodweight.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'admin/_form.html' %}
{% endblock %}