{% if object.is_new %}
    <a href="{% url 'admin_order_update' order.pk %}?status={{ object.STATUS_WORK }}" class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-cog"></i> В работу
    </a>
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_ABORTED }}" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-erase"></i> Отменить
    </a>
{% endif %}
{% if object.is_work %}
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_DELIVERY }}" class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-cog"></i> В пути
    </a>
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_CHANGE }}" class="btn btn-warning btn-sm">
        <i class="glyphicon glyphicon-pencil"></i> Изменен
    </a>
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_ABORTED }}" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-erase"></i> Отменить
    </a>
{% endif %}
{% if object.is_change %}
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_ABORTED }}" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-erase"></i> Отменить
    </a>
{% endif %}
{% if object.is_delivery %}
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_ARRIVED }}" class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-cog"></i> Доставлен
    </a>
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_ABORTED }}" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-erase"></i> Отменить
    </a>
{% endif %}
{% if object.is_arrived %}
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_SUCCESS }}" class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-cog"></i> Выполнен
    </a>
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_ABORTED }}" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-erase"></i> Отменить
    </a>
{% endif %}
{% if object.is_success %}
    <a href="{% url 'admin_order_update' order.pk %}?status={{ order.STATUS_RETURN }}" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-erase"></i> Возврат
    </a>
{% endif %}