<table class="table table-bordered table-striped">
    <tbody>
    <tr><th>Действия</th>
        <td><div class="btn-group">{% include 'admin/orders/_action.html' %}</div></td>
    </tr>
    <tr><th>Заказ #</th><td>{{ object.get_number }}</td></tr>
    <tr><th>Текущий статус</th><td>{{ object.get_status }}</td></tr>
    <tr><th>Дата создания</th><td>{{ object.created|date:"Y-m-d" }}</td></tr>
    <tr><th>Покупатель</th>
        <td>
            <a href="{% url 'admin_user_user_detail' object.user.pk %}" target="_blank">
                {{ object.user.get_full_name }}
            </a>
        </td>
    </tr>
    <tr><th>Телефон покупателя</th><td>{{ user.username }}</td>
    </tr>
    <tr><th>Email покупателя</th><td>{{ user.email }}</td></tr>
    </tbody>
</table>