<table class="table table-bordered">
    <thead>
    <tr><th colspan="3" class="text-center">История статусов</tr>
    <tr>
        <th class="text-center">Пользователь</th>
        <th class="text-center">Статус</th>
        <th class="text-center">Дата изменения</th>
    </tr>
    </thead>
    <tbody>
    {% if object.orderstatus_set.all %}
        {% for status in object.orderstatus_set.all %}
            <tr>
                <td class="text-center">{{ status.user.get_full_name }}</td>
                <td class="text-center">{{ status.get_status }}</td>
                <td class="text-center">{{ status.changed|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>