{% load thumbnail humanize %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th></th>
        <th class="text-left">Товар</th>
        <th class="text-center">Колличество</th>
        <th class="text-center">Цена поставщика</th>
        <th class="text-center">Цена</th>
    </tr>
    </thead>
    <tbody>
    {% if object.orderstore_set.all %}
        {% for good in object.orderstore_set.all %}
            <tr>
                <td class="text-center text-middle">
                    <img src="{% thumbnail good.store.image 100x66 %}" class="img-responsive"/>
                </td>
                <td class="text-left text-middle">
                    <a href="{% url 'admin_good_store_detail' good.store_id %}" target="_blank">
                        {{ good.store.get_name|truncatechars:99 }}</a>
                </td>
                <td class="text-center text-middle">{{ good.count }}</td>
                <td class="text-right text-middle">{{ good.get_price_real|intcomma }} руб.</td>
                <td class="text-right text-middle">{{ good.get_price|intcomma }} руб.</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>