{% extends 'admin/admin.html' %}
{% load icon_tags %}
{% block title %}Заказ # {{ object.get_number }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        {% if object.status in object.get_complete_statuses %}
            <li><a href="{% url 'admin_order_archive' %}">«Архивные»</a></li>
        {% else %}
            <li><a href="{% url 'admin_order_index' %}">«Активные»</a></li>
        {% endif %}

        <li class="active">Заказ # {{ object.get_number }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% include 'admin/orders/_info.html' %}
        </div>
        <div class="col-md-6">
            {% include 'admin/orders/_statuses.html' %}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            {% if object.is_work %}
                {% include 'admin/orders/_stores_change.html' %}
            {% else %}
                {% include 'admin/orders/_stores.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}