{% extends 'admin/admin.html' %}
{% load pagination_tags bootstrap %}
{% block title %}«Заказы»{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        {% if archive %}

            <li class="active">«Архив»</li>
        {% else %}
            <li class="active">«Актуальные»</li>
        {% endif %}
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
          <div class="col-md-12">
            <div class="inline-search">
                <form class="form-inline" method="get">
                    {{ filter.form|bootstrap_inline }}
                    {{ form.media }}
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Заказ #</th>
                    <th class="text-center">Текущий статус</th>
                    <th class="text-center">Дата создания</th>
                    <th class="text-center">Покупатель</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                {% if order_list %}
                    {% for order in order_list %}
                        <tr>
                            <td class="text-center">{{ order.get_number }}</td>
                            <td class="text-center">{{ order.get_status }}</td>
                            <td class="text-center">{{ order.created|date:"Y-m-d" }}</td>
                            <td class="text-center">{{ order.user.get_full_name }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{% url 'admin_order_detail' order.pk %}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            {% paginate %}
        </div>
    </div>
{% endblock %}