{% extends 'admin/admin.html' %}
{% load pagination_tags bootstrap %}
{% block title %}«Группы пользователей»{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li class="active">«Группы пользователей»</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="inline-search">
                <form class="form-inline" method="get">
                    {{ filter.form|bootstrap_inline }}
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Наименование</th>
                    <th class="text-center">Права доступа</th>
                    <th>
                        <div class="btn-group pull-right">
                            <a href="{% url 'admin_user_group_create' %}" class="btn btn-success btn-sm">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if group_list %}
                    {% for group in group_list %}
                        <tr>
                            <td class="text-left">{{ group.name }}</td>
                            <td class="text-left">
                                {% if group.permissions %}
                                    {% for perm in group.permissions.all %}
                                        {{ perm.name }}<br/>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{% url 'admin_user_group_update' group.pk %}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="{% url 'admin_user_group_delete' group.pk %}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            {% paginate %}
        </div>
    </div>
{% endblock %}