{% extends 'public/public.html' %}
{% block title %}Профиль{% endblock %}
{% block description %}Профиль{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li class="active">Профиль</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">Профиль</div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <form method="post" class="form-horizontal checkout" role="form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group dob">
                                    <div class="col-sm-12">
                                        <input value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                               name="last_name" type="text" class="form-control" placeholder="Фамилия">
                                        <span class="help-block error-block">{{ form.last_name.errors }}</span>
                                    </div>
                                    <div class="col-sm-12">
                                        <input value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                               name="first_name" type="text" class="form-control" placeholder="Имя">
                                        <span class="help-block error-block">{{ form.first_name.errors }}</span>
                                    </div>
                                </div>
                                <div class="form-group dob">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-default btn-red">Изменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th>Телефон</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Регистрация</th>
                            <td>{{ user.date_joined|date:"Y-m-d H:i" }}</td>
                        </tr>
                        <tr>
                            <th>Последнее посещение</th>
                            <td>{{ user.last_login|date:"Y-m-d H:i" }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}