@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/_UIws5dpKC1RfhGPW_D7VQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/VI6dwR3qOFADPI7kkTnlug.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/4W1i2GqDprP6PUrv5L9lzw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/YjD7Z5idi6Khm_WnIgFa0Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/ZNo-5SxCwH1CXgZ-n3bt2g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: 'Play', sans-serif;
}

.sidebar {
    display: none;
}

.sidebar h4 {
    margin-top: 0;
    margin-bottom: 5px;
    border-right: 1px solid #424141;
}

.sidebar > h4 > a, .sidebar > h4 > a:hover, .sidebar > h4 > a:focus {
    color: #e1e1e1;
    text-decoration: none;
}

.nav-sidebar > li > a {
    color: #e1e1e1;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #fff;
    background-color: #424141;
}

.nav .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #424141;
}

.sidebar > .panel-group > .panel {
    border: none;
}

.sidebar > .panel-group > .panel > .panel-heading {
    background-color: #3d3c3c;
    border: none;
    padding: 10px 0px;
}

.sidebar > .panel-group > .panel > .panel-collapse > .panel-body {
    background-color: #3d3c3c;
}

.sidebar > .panel-group > .panel > .panel-heading > a {
    color: #e1e1e1;
    text-decoration: none;
}

.sidebar > .panel-group > .panel > .panel-heading:focus, .sidebar > .panel-group > .panel > .panel-heading:hover {
    color: #fff;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #3d3c3c;
        border-right: 1px solid #474646;
    }
}

.nav-sidebar {
    margin-right: -21px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #ffffff;
}

.main {
    padding: 10px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.table > thead > tr > th {
    padding: 5px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    vertical-align: middle;
}

.breadcrumb {
    padding: 8px 0px;
    margin-bottom: 5px;
    list-style: none;
    background-color: white;
    border-radius: 0px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.14);
}

.inline-search {
    margin-top: 5px;
    margin-bottom: 10px;
}

.current-version {
    color: #e1e1e1;
    position: absolute;
    bottom: 5px;
}

.current-version span {
    margin-left: 5px;
}

.store-gallery-image {
    width: 170px!important;
    height: 112px!important;
    padding: 0px!important;
}