{% extends 'admin/admin.html' %}
{% block title %}Изменить пароль{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_user_profile' %}">«Профиль»</a></li>
        <li class="active">Изменить пароль</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'admin/_form.html' %}
{% endblock %}