{% extends 'admin/admin.html' %}
{% load pagination_tags bootstrap %}
{% block title %}«Пользователи»{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li class="active">«Пользователи»</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="inline-search">
                <form class="form-inline" method="get">
                    {{ filter.form|bootstrap_inline }}
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Фамилия</th>
                    <th class="text-center">Имя</th>
                    <th class="text-center">Телефон</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Регистрация</th>
                    <th class="text-center">Последнее посещение</th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if user_list %}
                    {% for user in user_list %}
                        <tr>
                            <td class="text-left">{{ user.last_name }}</td>
                            <td class="text-left">{{ user.first_name }}</td>
                            <td class="text-left">{{ user.username }}</td>
                            <td class="text-left">{{ user.email }}</td>
                            <td class="text-center">{{ user.date_joined|date:"Y-m-d H:i" }}</td>
                            <td class="text-center">{{ user.last_login|date:"Y-m-d H:i" }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{% url 'admin_user_user_detail' user.pk %}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    <a href="{% url 'admin_user_user_update' user.pk %}" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="{% url 'admin_user_user_delete' user.pk %}" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            {% paginate %}
        </div>
    </div>
{% endblock %}