{% extends 'admin/admin.html' %}
{% load icon_tags %}
{% block title %}Профиль{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li class="active">Профиль</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>Фамилия</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Группы</th>
                    <td>
                        {% if user.groups %}
                            {% for group in user.groups.all %}
                                {{ group.name }}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Регистрация</th>
                    <td>{{ user.date_joined|date:"Y-m-d H:i" }}</td>
                </tr>
                <tr>
                    <th>Последнее посещение</th>
                    <td>{{ user.last_login|date:"Y-m-d H:i" }}</td>
                </tr>
                <tr>
                    <th>Активен</th>
                    <td>{{ user.is_active|get_icon|safe }}</td>
                </tr>
                <tr>
                    <th>Администратор</th>
                    <td>{{ user.is_superuser|get_icon|safe }}</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="{% url 'admin_user_change_password' %}">Изменить пароль</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}