{% extends 'admin/admin.html' %}
{% load static %}
{% block title %}Редактировать {{ group.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_user_group_index' %}">«Группы пользователей»</a></li>
        <li class="active">Редактировать {{ group.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'admin/_form.html' %}
    {{ form.media.js }}
{% endblock %}