{% load url from future %}
{% load humanize %}
<!doctype html>
<html lang="ru">
<head>
    <title>Заказ № {{ object.get_number }} от {{ object.created|date:"d/m/Y" }}</title>
</head>
<body>
<h4>
    <a href="https://{{ site.domain }}{% url 'admin_order_detail' object.pk %}">
        Заказ № {{ object.get_number }} от {{ object.created|date:"d/m/Y" }}
    </a>
</h4>
<p>
    С уважением, Администрация сайта {{ site.name }}
</p>
</body>
</html>