{% load url from future %}
{% load humanize %}
<!doctype html>
<html lang="ru">
<head>
    <title>Заказ № {{ object.get_number }} от {{ object.created|date:"d/m/Y" }}</title>
</head>
<body>
<p>
    Ваш заказ был изменен.
</p>

<p>
    <a href="https://{{ site.domain }}{% url 'public_order_detail' object.pk %}">Подтвердить изменения</a>
</p>

<p>
    С уважением, Администрация сайта {{ site.name }}
</p>
</body>
</html>