{% load url from future %}
{% load humanize %}
<!doctype html>
<html lang="ru">
<head>
    <title>Заказ № {{ object.get_number }} от {{ object.created|date:"d/m/Y" }}</title>
</head>
<body>
<h4>
    <a href="https://{{ site.domain }}{% url 'public_order_detail' object.pk %}">
        Заказ № {{ object.get_number }} от {{ object.created|date:"d/m/Y" }}
    </a>
</h4>
<br>
{% if object.orderstore_set.all %}
    <table>
        <thead>
        <tr>
            <th style="text-align: left;">Наименование</th>
            <th style="text-align: left;">Колличество</th>
            <th style="text-align: left;">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for good in object.orderstore_set.all %}
            <tr>
                <td style="text-align: left;">{{ good.store.get_name }}</td>
                <td style="text-align: center;">{{ good.count }}</td>
                <td style="text-align: right;">{{ good.get_price|intcomma }} руб.</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <hr>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;" colspan="2">Итого :</td>
            <td style="text-align: right;">{{ all_sum|intcomma }} руб.</td>
        </tr>
        </tfoot>
    </table>
{% endif %}
<p>
    С уважением, Администрация сайта {{ site.name }}
</p>
</body>
</html>