{% extends 'admin/admin.html' %}
{% block title %}Редактировать {{ goodtag.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_good_tag_index' %}">«Тэги»</a></li>
        <li class="active">Редактировать {{ goodtag.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'admin/_form.html' %}
{% endblock %}