{% load bootstrap %}
<div class="row">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.brand|bootstrap }}
            {{ form.group|bootstrap }}
            {{ form.name|bootstrap }}
            <div class="row">
                <div class="col-md-3">
                    {{ form.is_color|bootstrap }}
                </div>
                <div class="col-md-3">
                    {{ form.is_size|bootstrap }}
                </div>
                <div class="col-md-3">
                    {{ form.is_volume|bootstrap }}
                </div>
                <div class="col-md-3">
                    {{ form.is_weight|bootstrap }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {{ form.description|bootstrap }}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="btn-group">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="glyphicon glyphicon-floppy-save"></i> Сохранить
                </button>
            </div>
        </div>
    </form>
    {{ form.media.js }}
</div>