{% extends 'admin/admin.html' %}
{% load pagination_tags bootstrap icon_tags %}
{% block title %}«Базовые товары»{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li class="active">«Базовые товары»</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="inline-search">
                <form class="form-inline" method="get">
                    {{ filter.form|bootstrap_inline }}
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Бренд</th>
                    <th class="text-center">Группа</th>
                    <th class="text-center">Наименование</th>
                    <th class="text-center">Цвет</th>
                    <th class="text-center">Размер</th>
                    <th class="text-center">Объем</th>
                    <th class="text-center">Вес</th>
                    <th>
                        <div class="btn-group pull-right">
                            <a href="{% url 'admin_good_base_create' %}" class="btn btn-success btn-sm">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if goodbase_list %}
                    {% for base in goodbase_list %}
                        <tr>
                            <td class="text-left">{{ base.get_brand }}</td>
                            <td class="text-left">{{ base.group }}</td>
                            <td class="text-left">{{ base.name }}</td>
                            <td class="text-center">{{ base.is_color|get_icon|safe }}</td>
                            <td class="text-center">{{ base.is_size|get_icon|safe }}</td>
                            <td class="text-center">{{ base.is_volume|get_icon|safe }}</td>
                            <td class="text-center">{{ base.is_weight|get_icon|safe }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{% url 'admin_good_base_detail' base.pk %}" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    <a href="{% url 'admin_good_base_update' base.pk %}" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="{% url 'admin_good_base_delete' base.pk %}" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            {% paginate %}
        </div>
    </div>
{% endblock %}