{% extends 'admin/admin.html' %}
{% load icon_tags markdown_tags %}
{% block title %}{{ goodbase.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_good_base_index' %}">«Базовые товары»</a></li>
        <li class="active">{{ goodbase.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <tbody>
                                <tr>
                    <td colspan="2">
                        <a href="{% url 'admin_good_store_update' goodbase.pk %}">
                            Редактировать
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Наименование</th>
                    <td>{{ goodbase }}</td>
                </tr>
                <tr>
                    <th>Группа товаров</th>
                    <td>
                        <a href="{% url 'admin_good_group_update' goodbase.group.pk %}">
                            {{ goodbase.group }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Бренд</th>
                    <td>
                        <a href="{% url 'admin_good_brand_update' goodbase.brand.pk %}">
                            {{ goodbase.brand.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Цвет</th>
                    <td>{{ goodbase.is_color|get_icon|safe }}</td>
                </tr>
                <tr>
                    <th>Размер</th>
                    <td>{{ goodbase.is_size|get_icon|safe }}</td>
                </tr>
                <tr>
                    <th>Объем</th>
                    <td>{{ goodbase.is_volume|get_icon|safe }}</td>
                </tr>
                <tr>
                    <th>Вес</th>
                    <td>{{ goodbase.is_weight|get_icon|safe }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Описание</div>
                <div class="panel-body">{{ goodbase.description|markdown_to_text|safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}