{% extends 'admin/admin.html' %}
{% load pagination_tags bootstrap %}
{% block title %}«Варианты размеров»{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li class="active">«Варианты размеров»</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="inline-search">
                <form class="form-inline" method="get">
                    {{ filter.form|bootstrap_inline }}
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>
                        <div class="btn-group pull-right">
                            <a href="{% url 'admin_good_size_create' %}" class="btn btn-success btn-sm">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if goodsize_list %}
                    {% for size in goodsize_list %}
                        <tr>
                            <td class="text-left">{{ size.name }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{% url 'admin_good_size_update' size.pk %}" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="{% url 'admin_good_size_delete' size.pk %}" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            {% paginate %}
        </div>
    </div>
{% endblock %}