{% load bootstrap %}
<div class="row">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.brand|bootstrap }}
            {{ form.good|bootstrap }}
            {{ form.tag|bootstrap }}
            {{ form.color|bootstrap }}
            {{ form.size|bootstrap }}
            {{ form.volume|bootstrap }}
            {{ form.weight|bootstrap }}
            <div class="row">
                <div class="col-md-4">
                    {{ form.is_available|bootstrap }}
                </div>
                <div class="col-md-4">
                    {{ form.is_active|bootstrap }}
                </div>
                <div class="col-md-4">
                    {{ form.is_hot|bootstrap }}
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="glyphicon glyphicon-floppy-save"></i> Сохранить
                </button>
            </div>
        </div>
        <div class="col-md-6">
            {{ form.price_real|bootstrap }}
            {{ form.price_discount|bootstrap }}
            {{ form.price|bootstrap }}
            {{ form.image|bootstrap }}
            {{ form.slug|bootstrap }}
            {{ form.comment|bootstrap }}

        </div>
        <div class="clearfix"></div>
    </form>
    {{ form.media.js }}
</div>