{% extends 'admin/admin.html' %}
{% load pagination_tags bootstrap icon_tags %}
{% block title %}«Товары»{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li class="active">«Товары»</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="inline-search">
                <form class="form-inline" method="get">
                    {{ filter.form|bootstrap_inline }}
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Бренд</th>
                    <th class="text-center">Базовый товар</th>
                    <th class="text-center">Цвет</th>
                    <th class="text-center">Размер</th>
                    <th class="text-center">Объем</th>
                    <th class="text-center">Вес</th>
                    <th class="text-center">Продавать</th>
                    <th class="text-center">Отображать</th>
                    <th>
                        <div class="btn-group pull-right">
                            <a href="{% url 'admin_good_store_create' %}" class="btn btn-success btn-sm">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if goodstore_list %}
                    {% for store in goodstore_list %}
                        <tr>
                            <td class="text-left">{{ store.good.brand }}</td>
                            <td class="text-left">{{ store.get_base }}</td>
                            <td class="text-center">{{ store.get_color }}</td>
                            <td class="text-center">{{ store.get_size }}</td>
                            <td class="text-center">{{ store.get_volume }}</td>
                            <td class="text-center">{{ store.get_weight }}</td>
                            <td class="text-center">{{ store.is_available|get_icon|safe }}</td>
                            <td class="text-center">{{ store.is_active|get_icon|safe }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="{% url 'admin_good_store_create' %}?pk={{ store.pk }}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-duplicate"></i>
                                    </a>
                                    <a href="{% url 'admin_good_store_detail' store.pk %}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    <a href="{% url 'admin_good_store_update' store.pk %}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="{% url 'admin_good_store_delete' store.pk %}"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            {% paginate %}
        </div>
    </div>
{% endblock %}