{% extends 'admin/admin.html' %}
{% block title %}Редактировать {{ goodstore.get_name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_good_store_index' %}">«Товары»</a></li>
        <li class="active">Редактировать {{ goodstore.get_name }}</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'admin/stores/_form.html' %}
{% endblock %}