{% extends 'admin/admin.html' %}
{% load icon_tags markdown_tags thumbnail humanize %}
{% block title %}{{ goodstore.get_name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_good_store_index' %}">«Товары»</a></li>
        <li class="active">{{ goodstore.get_name }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td colspan="2">
                        <a href="{% url 'admin_good_store_update' goodstore.pk %}">
                            Редактировать
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Изображение</th>
                    <td>
                        {% if goodstore.image %}
                            <a href="#" data-toggle="modal" data-target="#store_image">
                                <img src="{% thumbnail goodstore.image 250x164 %}" />
                            </a>
                            <div class="modal fade" id="store_image" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Основное изображение</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="thumbnail">
                                                        <img src="/media/{{ goodstore.image }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Группа товаров</th>
                    <td>
                        <a href="{% url 'admin_good_group_update' goodstore.good.group.pk %}">
                            {{ goodstore.good.group }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Бренд</th>
                    <td>
                        <a href="{% url 'admin_good_brand_update' goodstore.good.brand.pk %}">
                            {{ goodstore.good.brand.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Базовый товар</th>
                    <td>
                        <a href="{% url 'admin_good_base_detail' goodstore.good.pk %}">
                            {{ goodstore.good.name }}
                        </a>
                    </td>
                </tr>
                {% if goodstore.color %}
                    <tr>
                        <th>Цвет</th>
                        <td>{{ goodstore.get_color }}</td>
                    </tr>
                {% endif %}
                {% if goodstore.size %}
                    <tr>
                        <th>Размер</th>
                        <td>{{ goodstore.get_size }}</td>
                    </tr>
                {% endif %}
                {% if goodstore.volume %}
                    <tr>
                        <th>Объем</th>
                        <td>{{ goodstore.get_volume }}</td>
                    </tr>
                {% endif %}
                {% if goodstore.weight %}
                    <tr>
                        <th>Вес</th>
                        <td>{{ goodstore.get_weight }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Цена магазина</th>
                    <td>{{ goodstore.price_real|intcomma }} руб.</td>
                </tr>
                {% if goodstore.price_discount %}
                    <tr>
                        <th>Старая цена</th>
                        <td>{{ goodstore.price_discount|intcomma }} руб.</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Цена</th>
                    <td>{{ goodstore.price|intcomma }} руб.</td>
                </tr>
                <tr>
                    <th>Продавать</th>
                    <td>{{ goodstore.is_available|get_icon|safe }}</td>
                </tr>
                <tr>
                    <th>Отображать</th>
                    <td>{{ goodstore.is_active|get_icon|safe }}</td>
                </tr>
                <tr>
                    <th>Комментарий</th>
                    <td>{{ goodstore.comment|markdown_to_text|safe }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% include 'admin/_form.html' %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                {% if goodstore.get_gallery %}
                    {% for image in goodstore.get_gallery %}
                        <div class="col-md-4">
                        <div class="thumbnail store-gallery-image">
                            <a href="#" class="" data-toggle="modal" data-target="#gallery_{{ image.pk }}">
                                <img src="{% thumbnail image.image 168x110 %}" class="img-responsive">
                            </a>
</div>
                            <div class="modal fade" id="gallery_{{ image.pk }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="">Изображение #{{ forloop.counter }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="thumbnail">
                                                        <img src="/media/{{ image.image }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'admin_good_gallery_delete' image.pk %}" type="button"
                                               class="btn btn-danger btn-sm">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}