{% if group.get_children %}
    <div class="row">
        {% for item in group.get_children %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a title="{{ item.name }}" href="{% url 'public_category_list' item.get_slug %}">
                            {{ item.name }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}