{% load thumbnail markdown_tags humanize %}
{% if goodstore_list %}
    <div class="row prdct">
        {% for store in goodstore_list %}
            <div class="col-md-4">
                <div class="productwrap">
                    <div class="pr-img">
                        <a title="{{ store.get_name }}" href="{% url 'public_product_detail' store.good.group.get_slug store.slug %}">
                            <img src="{% thumbnail store.image 250x164 %}" alt="{{ store.get_name }}"
                                 class="img-responsive list-image"/>
                        </a>
                    {% if store.is_available %}
                        {% if store.price_discount %}
                            <div class="pricetag on-sale">
                                <div class="inner on-sale">
                                        <span class="onsale">
                                            <span class="oldprice">{{ store.get_price_discount|intcomma }} руб.</span>
                                            {{ store.get_price|intcomma }} руб.
                                        </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="pricetag blue">
                                <div class="inner">{{ store.get_price|intcomma }} руб.</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>

                    <div class="gridlist-act">
                     {% if store.is_available %}
                        <a data-count="1" data-id="{{ store.pk }}" data-hash="{{ store.get_hash }}" class="add_basket"
                           href="#">
                            <span class="trolly">&nbsp;</span>В корзину
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>

					<span class="smalltitle">
                        <a title="{{ store.get_name }}" href="{% url 'public_product_detail' store.good.group.get_slug store.slug %}">
                            {{ store.get_name|truncatechars:78 }}
                        </a>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    Товаров не найдено.
{% endif %}