{% extends 'public/public.html' %}
{% load markdown_tags thumbnail humanize %}
{% block title %}{{ object.get_name }}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li>
                <a title="{{ object.good.group.parent.name }}"
                   href="{% url 'public_category_list' object.good.group.parent.get_slug %}">
                    {{ object.good.group.parent.name }}
                </a>
            </li>
            <li>
                <a title="{{ object.good.group.name }}"
                   href="{% url 'public_category_list' object.good.group.get_slug %}">
                    {{ object.good.group.name }}
                </a>
            </li>
            <li class="active">{{ object.get_name }}</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">{{ object.get_name }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dt-img">
                            <a class="fancybox" href="{% thumbnail object.image 900x590 %}"
                               data-fancybox-group="gallery" title="{{ object.get_name }}">
                                <img src="{% thumbnail object.image 500x328 %}" alt="{{ object.get_name }}"
                                     class="img-responsive"/>
                            </a>
                        </div>
                        {% if goodstore.get_gallery %}
                            {% for image in goodstore.get_gallery %}
                                <div class="thumb-img">
                                    <a class="fancybox" href="{% thumbnail image.image 900x590 %}"
                                       data-fancybox-group="gallery"
                                       title="{{ object.get_name }}">
                                        <img src="{% thumbnail image.image 500x328 %}" alt="{{ object.get_name }}"
                                             class="img-responsive"/></a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-6 det-desc">
                        <div class="productdata">
                            <div class="infospan">Категория <span>{{ object.good.group.name }}</span></div>
                            <div class="infospan">Бренд <span>{{ object.good.brand.name }}</span></div>
                            <div class="infospan">Цена <span>{{ object.get_price|intcomma }} руб.</span></div>
                            <form class="form-horizontal ava" role="form">
                                {% if object.check_attribute %}
                                    {% if object.weight %}
                                        <div class="form-group">
                                            <label for="weight" class="col-sm-3 control-label options_label">Вес</label>

                                            <div class="col-sm-9">
                                                <select class="form-control change_product" id="weight">
                                                    {% if object.good.goodstore_set.all %}
                                                        {% for weight in object.good.goodstore_set.all %}
                                                            {% if weight.weight and weight.is_active %}
                                                                <option value="{{ weight.pk }}"
                                                                        {% if weight == object %}selected{% endif %}
                                                                        data-url="{% url 'public_product_detail' object.good.group.get_slug weight.slug %}">{{ weight.weight.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="dash"></div>
                                        </div>
                                    {% endif %}
                                    {% if object.volume %}
                                        <div class="form-group">
                                            <label for="volume"
                                                   class="col-sm-3 control-label options_label">Объем</label>

                                            <div class="col-sm-9">
                                                <select class="form-control change_product" id="volume">
                                                    {% if object.good.goodstore_set.all %}
                                                        {% for volume in object.good.goodstore_set.all %}
                                                            {% if volume.volume and volume.is_active %}
                                                                <option value="{{ volume.pk }}"
                                                                        {% if volume == object %}selected{% endif %}
                                                                        data-url="{% url 'public_product_detail' object.good.group.get_slug volume.slug %}">{{ volume.volume.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="dash"></div>
                                        </div>
                                    {% endif %}
                                    {% if object.size %}
                                        <div class="form-group">
                                            <label for="size"
                                                   class="col-sm-3 control-label options_label">Размер</label>

                                            <div class="col-sm-9">
                                                <select class="form-control change_product" id="size">
                                                    {% if object.good.goodstore_set.all %}
                                                        {% for size in object.good.goodstore_set.all %}
                                                            {% if size.size and size.is_active %}
                                                                <option value="{{ size.pk }}"
                                                                        {% if size == object %}selected{% endif %}
                                                                        data-url="{% url 'public_product_detail' object.good.group.get_slug size.slug %}">{{ size.size.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="dash"></div>
                                        </div>
                                    {% endif %}
                                    {% if object.color %}
                                        <div class="form-group">
                                            <label for="color" class="col-sm-3 control-label options_label">Цвет</label>

                                            <div class="col-sm-9">
                                                <select class="form-control change_product" id="color">
                                                    {% if object.good.goodstore_set.all %}
                                                        {% for color in object.good.goodstore_set.all %}
                                                            {% if color.color and color.is_active %}
                                                                <option value="{{ color.pk }}"
                                                                        {% if color == object %}selected{% endif %}
                                                                        data-url="{% url 'public_product_detail' object.good.group.get_slug color.slug %}">{{ color.color.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="dash"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if object.is_available %}
                                    <div class="form-group">
                                        <label for="qty"
                                               class="col-sm-3 control-label options_label">Колличество</label>

                                        <div class="col-sm-5">
                                            <select class="form-control" id="qty">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 pull-right text-right">
                                            <button data-count="1" data-id="{{ object.pk }}"
                                                    data-hash="{{ object.get_hash }}"
                                                    class="btn btn-default btn-red btn-sm add_basket">
                                                <span class="addchart">В корзину</span>
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                {% else %}
                                    <div class="infospan">Нет в наличии</div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-review">
                    <ul id="myTab" class="nav nav-tabs shop-tab">
                        <li class="active"><a href="#desc" data-toggle="tab">Описание</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content shop-tab-ct">
                        <div class="tab-pane fade active in" id="desc">
                            {{ object.good.description|markdown_to_text|safe }}
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
{% endblock %}