{% extends 'public/public.html' %}
{% block title %}{{ group.name }}{% endblock %}
{% block description %}{{ group.name }}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            {% if group.parent %}
                <li>
                    <a title="{{ group.parent.name }}" href="{% url 'public_category_list' group.parent.get_slug %}">
                        {{ group.parent.name }}
                    </a>
                </li>
            {% endif %}
            <li class="active">{{ group.name }}</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">{{ group.name }}</div>
                </div>
                {% include 'public/products/_groups.html' %}
                {% if group.parent %}
                    {% include 'public/products/_list.html' %}
                {% endif %}
            </div>
        </div>
        {% include 'public/_pagination.html' %}
    </div>
{% endblock %}