{% extends 'public/public.html' %}
{% block title %}Результаты поиска «{{ request.GET.q }}»{% endblock %}
{% block description %}Результаты поиска «{{ request.GET.q }}»{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li class="active">Результаты поиска «{{ request.GET.q }}»</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">Результаты поиска «{{ request.GET.q }}»</div>
                </div>
                    {% include 'public/products/_list.html' %}
            </div>
        </div>
        {% include 'public/_pagination.html' %}
    </div>
{% endblock %}