{% if is_paginated %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"
                       class="prev">&lsaquo;&lsaquo;</a>
                    {% else %}
                <li class="disabled"><a href="">&lsaquo;&lsaquo;</a></li>
            {% endif %}
            {% for page in pages %}
                {% if page %}
                    {% ifequal page page_obj.number %}
                        <li class="active"><a href="">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"
                       class="next">&rsaquo;&rsaquo;</a></li>
            {% else %}
                <li class="disabled next"><a href="">&rsaquo;&rsaquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}