{% load thumbnail humanize %}
<div class="pull-right">
    <button id="popcart" class="btn btn-default btn-chart btn-sm "><span
            class="mychart">Корзина </span>|<span
            class="allprice">{{ all_sum|intcomma }} руб.</span></button>
    {% if basket %}
        <div class="popcart">
            <table class="table table-condensed popcart-inner">
                <tbody>
                {% for good in basket %}
                    <tr>
                        <td class="text-left text-middle">
                            <a title="good.store.get_name" href="{% url 'public_product_detail' good.store.good.group.get_slug good.store.slug %}">
                                <img src="{% thumbnail good.store.image 60x43 %}"
                                     alt="{{ good.store.get_name }}" class="img-responsive"/>
                            </a>
                        </td>
                        <td class="text-left text-middle">
                            <a title="good.store.get_name" href="{% url 'public_product_detail' good.store.good.group.get_slug good.store.slug %}">
                                {{ good.store.get_name|truncatechars:30 }}</a>
                        </td>
                        <td class="text-right text-middle">{{ good.count }} шт.</td>
                        <td class="text-right text-middle">{{ good.get_price|intcomma }} руб.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>

            <div class="btn-popcart">
                <a title="Корзина" href="{% url 'public_order_basket' %}" class="btn btn-default btn-red btn-sm">
                    Корзина
                </a>
            </div>
            <div class="popcart-tot">
                <p>Итого : <span>{{ all_sum|intcomma }} руб.</span></p>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endif %}
</div>