{% extends 'public/public.html' %}
{% load thumbnail humanize %}
{% block title %}Корзина{% endblock %}
{% block description %}Корзина{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li class="active">Корзина</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">Корзина</div>
                </div>
                {% if basket_list %}
                    <div class="table-responsive">
                        <table class="table table-bordered chart">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Наименование</th>
                                <th>Колличество</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for good in basket_list %}
                            <tr>
                                <td class="text-center text-middle">
                                    <img alt="{{ good.store.get_name }}" src="{% thumbnail good.store.image 100x66 %}"
                                         class="img-responsive basket-table-image"/>
                                </td>
                                <td class="text-left text-middle">
                                    <a title="{{ good.store.get_name }}" href="{% url 'public_product_detail' good.store.good.group.get_slug good.store.slug %}">
                                {{ good.store.get_name|truncatechars:99 }}</a>
                                </td>
                                <td class="text-center text-middle">
                                    <input min="1" max="10" type="number" class="form-control quantity basket-count"
                                           value="{{ good.count }}" data-id="{{ good.id }}">
                                </td>
                                <td class="text-right text-middle">{{ good.get_price|intcomma }} руб.</td>
                                <td class="text-center text-middle">
                                    <a class="delete-from-basket" href="{% url 'public_basket_delete' good.pk %}">
                                        <i class="fa fa-times-circle fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <div class="subtotal-wrap">
                                <div class="total">Итого : <span class="bigprice">{{ all_sum|intcomma }} руб.</span></div>
                                <a href="{% url 'public_order_to' %}" title="Оформить заказ" id="to-order" class="btn btn-default btn-red btn-sm">
                                    Оформить заказ
                                </a>
                                <div class="clearfix"></div>
                                <a href="{% url 'public_index' %}" title="Главная" class="btn btn-default btn-yellow">Продолжить покупки</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}