{% extends 'public/public.html' %}
{% load thumbnail humanize %}
{% block title %}Заказ № {{ object.get_number }}{% endblock %}
{% block description %}Заказ № {{ object.get_number }}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li><a href="{% url 'public_order_list' %}" title="Заказы">Заказы</a></li>
            <li class="active">Заказ № {{ object.get_number }}</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">Заказ № {{ object.get_number }} от {{ object.created|date:"d/m/Y" }}</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                {% if object.orderstore_set.all %}
                    <div class="table-responsive">
                        <table class="table table-bordered chart">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Наименование</th>
                                <th>Колличество</th>
                                <th>Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for good in object.orderstore_set.all %}
                                <tr>
                                    <td class="text-center text-middle">
                                        <img src="{% thumbnail good.store.image 100x66 %}" class="img-responsive"/>
                                    </td>
                                    <td class="text-left text-middle">
                                        <a href="{% url 'public_product_detail' good.store.good.group.get_slug good.store.slug %}">
                                            {{ good.store.get_name|truncatechars:99 }}</a>
                                    </td>
                                    <td class="text-center text-middle">{{ good.count }}</td>
                                    <td class="text-right text-middle">{{ good.get_price|intcomma }} руб.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="subtotal-wrap">
                                <div class="total">
                                    Итого : <span class="bigprice">{{ object.get_all_sum|intcomma }} руб.</span>
                                </div>
                                {% if object.is_change %}
                                    <a href="{% url 'public_order_update' object.pk %}?status={{ object.STATUS_NEW }}"
                                       title="Подтвердить" id="confirm-change-order"
                                       class="btn btn-default btn-red btn-sm">
                                        Подтвердить
                                    </a>
                                    <div class="clearfix"></div>
                                    <a href="{% url 'public_order_update' object.pk %}?status={{ object.STATUS_ABORTED }}" title="Отмена"
                                       class="btn btn-default btn-yellow">
                                        Отменить
                                    </a>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                {% endif %}
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}