{% extends 'public/public.html' %}
{% load thumbnail humanize %}
{% block title %}Заказы{% endblock %}
{% block description %}Заказы{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li class="active">Заказы</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">Заказы</div>
                </div>
                {% if order_list %}
                    <div class="table-responsive">
                        <table class="table table-bordered chart">
                            <thead>
                            <tr>
                                <th>№ заказы</th>
                                <th>Текущий статус</th>
                                <th>Дата создания</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in order_list %}
                                <tr>
                                    <td>{{ order.get_number }}</td>
                                    <td>{{ order.get_status }}</td>
                                    <td>{{ order.created|date:"d/m/Y" }}</td>

                                    <td>
                                        <a title="Заказ № {{ order.get_number }}" href="{% url 'public_order_detail' order.pk %}">
                                            <i class="fa fa-eye"></i>Подробнее
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="spacer"></div>
                {% endif %}
            </div>
        </div>
        {% include 'public/_pagination.html' %}
    </div>
{% endblock %}