{% load bootstrap %}
<div class="row">
    <div class="col-md-8">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="btn-group">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="glyphicon glyphicon-floppy-save"></i> Сохранить
                </button>
            </div>
        </form>
    </div>
</div>