{% load product_tags %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% if perms.products.can_change_products %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="group_brand">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse_group_brand" aria-expanded="false" aria-controls="collapse_group_brand">Свойства
                    товаров <span class="caret"></span>
                </a>
            </div>
            <div id="collapse_group_brand"
                 class="panel-collapse collapse {{ request|open_menu:"properties" }}" role="tabpanel"
                 aria-labelledby="group_brand">
                <div class="panel-body">
                    <ul class="nav nav-sidebar">
                        <li class="{% if "admin_good_group" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_group_index' %}">Группы товаров</a>
                        </li>
                        <li class="{% if "admin_good_brand" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_brand_index' %}">Бренды</a>
                        </li>
                        <li class="{% if "admin_good_tag" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_tag_index' %}">Тэги</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="color_volume">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse_color_volume" aria-expanded="false"
                   aria-controls="collapse_color_volume">
                    Атрибуты товаров <span class="caret"></span>
                </a>
            </div>
            <div id="collapse_color_volume"
                 class="panel-collapse collapse {{ request|open_menu:"attributes" }}" role="tabpanel"
                 aria-labelledby="color_volume">
                <div class="panel-body">
                    <ul class="nav nav-sidebar">
                        <li class="{% if "admin_good_color" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_color_index' %}">Варианты цвета</a>
                        </li>
                        <li class="{% if "admin_good_size" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_size_index' %}">Варианты размеров</a>
                        </li>
                        <li class="{% if "admin_good_volume" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_volume_index' %}">Варианты объема</a>
                        </li>
                        <li class="{% if "admin_good_weight" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_weight_index' %}">Варианты веса</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="good_base">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse_good_base" aria-expanded="false" aria-controls="collapse_good_base">
                    Номенклатура <span class="caret"></span>
                </a>
            </div>
            <div id="collapse_good_base" class="panel-collapse collapse {{ request|open_menu:"goods" }}"
                 role="tabpanel"
                 aria-labelledby="good_base">
                <div class="panel-body">
                    <ul class="nav nav-sidebar">
                        <li class="{% if "admin_good_base" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_base_index' %}">Базовые товары</a>
                        </li>
                        <li class="{% if "admin_good_store" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_good_store_index' %}">Товары</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if perms.products.can_change_users %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="group_user">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse_group_user" aria-expanded="false" aria-controls="collapse_group_user">
                    Пользователи <span class="caret"></span>
                </a>
            </div>
            <div id="collapse_group_user" class="panel-collapse collapse {{ request|open_menu:"users" }}"
                 role="tabpanel"
                 aria-labelledby="group_user">
                <div class="panel-body">
                    <ul class="nav nav-sidebar">
                        <li class="{% if "admin_user_group" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_user_group_index' %}">Группы пользователей</a>
                        </li>
                        <li class="{% if "admin_user_user" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_user_user_index' %}">Пользователи</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if perms.products.can_change_orders %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="orders">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse_orders" aria-expanded="false" aria-controls="collapse_orders">
                    Заказы <span class="caret"></span>
                </a>
            </div>
            <div id="collapse_orders" class="panel-collapse collapse {{ request|open_menu:"orders" }}" role="tabpanel"
                 aria-labelledby="orders">
                <div class="panel-body">
                    <ul class="nav nav-sidebar">
                        <li class="{% if "admin_order_index" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_order_index' %}">Актуальные</a>
                        </li>
                         <li class="{% if "admin_order_archive" in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'admin_order_archive' %}">Архив</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <ul class="nav nav-sidebar">
         <li><a href="#">Статистика</a></li>
        <li class="{% if request.resolver_match.url_name == "admin_user_profile" %}active{% endif %}">
            <a href="{% url 'admin_user_profile' %}">Профиль</a>
        </li>
        <li><a href="{% url 'auth_logout' %}">Выход</a></li>
    </ul>
    <div class="current-version">{% now "d N Y" %}</div>
</div>