{% load static %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% if DEBUG %}
        <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'admin/css/select2.css' %}" rel="stylesheet"/>
        <link href="{% static 'admin/css/select2-bootstrap.css' %}" rel="stylesheet"/>
        <link href="{% static 'admin/css/bootstrap-markdown-editor.css' %}" rel="stylesheet"/>
        <link href="{% static 'admin/css/datetimepicker.css' %}" rel="stylesheet"/>
        <link href="{% static 'admin/css/bootstrap-datetimepicker.css' %}" rel="stylesheet"/>
        <link href="{% static 'admin/css/style.css' %}" rel="stylesheet"/>
        <script src="{% static 'admin/js/jquery.min.js' %}"></script>
        <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'admin/js/bootstrap-markdown.js' %}"></script>
        <script src="{% static 'admin/js/bootstrap-markdown.ru.js' %}"></script>
        <script src="{% static 'admin/js/markdown.js' %}"></script>
        <script src="{% static 'admin/js/to-markdown.js' %}"></script>
        <script src="{% static 'admin/js/bootstrap-datetimepicker.js' %}"></script>
         <script src="{% static 'admin/js/locales/bootstrap-datetimepicker.ru.js' %}"></script>
        <script src="{% static 'admin/js/admin.js' %}"></script>
    {% else %}
        <link href="{% static 'admin/css/admin.min.css' %}" rel="stylesheet"/>
        <script src="{% static 'admin/js/admin.min.js' %}"></script>
    {% endif %}
    {% block extra_css_js %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h4 class="text-center"><a href="{% url 'admin_index' %}">Администрирование</a></h4>
            {% include 'admin/_menu.html' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block breadcrumbs %}
            {% endblock %}
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>