{% extends 'admin/admin.html' %}
{% block title %}«Подтверждение удаления»{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 class="text-center">Вы действительно хотите удалить этот объект?</h4>

            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-md-6 text-center">
                        <input type="submit" class="btn btn-default btn-sm" value="Да"/>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-sm">Нет</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}