{% extends 'admin/admin.html' %}
{% block title %}«Администрирование»{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">«Администрирование»</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Свойства товаров</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if properties_count %}
                            {% for item in properties_count %}
                                <li class="list-group-item">
                                    {{ item.label }}:<span class="pull-right">{{ item.value }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Атрибуты товаров</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if attributes_count %}
                            {% for item in attributes_count %}
                                <li class="list-group-item">
                                    {{ item.label }}:<span class="pull-right">{{ item.value }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
             <div class="panel panel-default">
                <div class="panel-heading text-center">Номенклатура</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if product_count %}
                            {% for item in product_count %}
                                <li class="list-group-item">
                                    {{ item.label }}:<span class="pull-right">{{ item.value }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Пользователи</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if user_count %}
                            {% for item in user_count %}
                                <li class="list-group-item">
                                    {{ item.label }}:<span class="pull-right">{{ item.value }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Заказы</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if order_count %}
                            {% for item in order_count %}
                                <li class="list-group-item">
                                    {{ item.label }}:<span class="pull-right">{{ item.value }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}