<div class="container">
        <div class="row">
            <div class="col-md-8">
                <a class="dg-widget-link"
                   href="https://2gis.kz/pavlodar/firm/70000001020414428/center/76.97135210037233,52.260881992230395/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                    на карте Павлодара</a>

                <div class="dg-widget-link"><a
                        href="https://2gis.kz/pavlodar/center/76.971426,52.259407/zoom/16/routeTab/rsType/bus/to/76.971426,52.259407╎GetParts, магазин автозапчастей?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                    проезд до GetParts, магазин автозапчастей</a></div>
                <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
                <script charset="utf-8">new DGWidgetLoader({
                    "width": 500,
                    "height": 400,
                    "borderColor": "#a3a3a3",
                    "pos": {"lat": 52.260881992230395, "lon": 76.97135210037233, "zoom": 16},
                    "opt": {"city": "pavlodar"},
                    "org": [{"id": "70000001020414428"}]
                });</script>
                <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript.
                    Включите его в настройках вашего браузера.
                </noscript>
            </div>
            <div class="col-md-4">
                <ul class="contact-widget">
                    <li class="fphone">+7 (7182) 626 025</li>
                    <li class="fmobile">+7 (705) 414 50 50</li>
                    <li class="fmail lastone">support@plunder.kz</li>
                </ul>
            </div>
        </div>
        <div class="spacer"></div>
    </div>


