<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-bg">
                <div class="title">Новые товары</div>
            </div>
            {% include 'public/products/_list.html' %}
            <div class="spacer"></div>
        </div>
    </div>
</div>