{% if is_paginated %}
    <ul class="pagination shop-pag">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}">
                    <i class="fa fa-caret-left"></i>
                </a>
                {% else %}
            <li><a><i class="fa fa-caret-left"></i></a></li>
        {% endif %}
        {% for page in paginator.page_range %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active"><a href="">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li>...</li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}">
                    <i class="fa fa-caret-right"></i>
                </a>
            </li>
        {% else %}
            <li><a><i class="fa fa-caret-right"></i></a></li>
        {% endif %}
    </ul>
{% endif %}