{% load static product_tags order_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="Description" content="{% block description %}{% endblock %}">
    {% if DEBUG %}
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/font-ubuntu.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/font-pacifico.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/owl.carousel.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/owl.transitions.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/jquery.fancybox.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'public/css/public.min.css' %}"/>
    {% endif %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar-fixed-top">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-2 main-logo">
                    <a title="Главная" href="{% url 'public_index' %}">
                        <img alt="plunder.kz" src="{% static 'public/images/logo.png' %}" class="logo img-responsive"/>
                    </a>
                </div>
                <div class="col-md-4 main-search">
                    <form action="{% url 'public_search_list' %}" class="form-horizontal" method="GET">
                        <div class="form-group form-group-sm search-group">
                            <div class="col-sm-12">
                                <input {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %} type="text"
                                       class="form-control input-sm" name="q" placeholder="Поиск">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <ul class="nav navbar-nav pull-right header-menu-ul">
                        <li><a href="{% url 'public_index' %}" title="">Главная</a></li>
                        <li><a href="{% url 'public_page_delivery' %}" title="">Доставка и оплата</a></li>
                        <li><a href="{% url 'public_page_contact' %}" title="">Контакты</a></li>
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                Профиль <span class="caret"></span></a>
                                <ul class="dropdown-menu margin-top-10">
                                    <li><a href="{% url 'public_user_profile' %}"
                                           title="Редактировать">Редактировать</a></li>
                                    <li><a href="{% url 'auth_password_change' %}" title="Изменить пароль">Изменить
                                        пароль</a></li>
                                    <li><a href="{% url 'public_order_basket' %}" title="Корзина">Корзина</a></li>
                                    <li><a href="{% url 'public_order_list' %}" title="Заказы">Заказы</a></li>
                                    <li><a href="{% url 'auth_logout' %}" title="Выход">Выход</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'auth_login' %}" title="Авторизация">Авторизация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashed"></div>
    </div>
    <div class="main-nav">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                {% group_links %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 machart">
                        {% get_basket request.user %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="contain">
        {% block breadcrumbs %}
        {% endblock %}
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footermenu">
                        <li><a href="{% url 'public_index' %}" title="">Главная</a></li>
                        <li><a href="{% url 'public_page_delivery' %}" title="">Доставка и оплата</a></li>
                        <li><a href="{% url 'public_page_contact' %}" title="">Контакты</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'public_order_basket' %}" title="Корзина">Корзина</a></li>
                            <li><a href="{% url 'public_order_list' %}" title="Заказы">Заказы</a></li>
                            <li><a href="{% url 'auth_logout' %}" title="Выход">Выход</a></li>
                        {% else %}
                            <li><a href="{% url 'auth_login' %}" title="Авторизация">Авторизация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% if DEBUG %}
    <script src="{% static 'public/js/jquery.min.js' %}"></script>
    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'public/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'public/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script src="{% static 'public/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'public/js/shop.js' %}"></script>
{% else %}
    <script src="{% static 'public/js/public.min.js' %}"></script>
{% endif %}
{% block extra_css_js %}{% endblock %}
</html>
