{% extends 'public/public.html' %}
{% block title %}Контакты{% endblock %}
{% block description %}Контакты{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li class="active">Контакты</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">Контакты</div>
                </div>

            </div>
        </div>
    </div>
       {% include 'public/_contact.html' %}
{% endblock %}