{% extends 'public/public.html' %}
{% block title %}Доставка и оплата{% endblock %}
{% block description %}Доставка и оплата{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}" title="Главная">Главная</a></li>
            <li class="active">Доставка и оплата</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bg">
                    <div class="title">Доставка и оплата</div>
                </div>
                <p>
                    На данный момент доступны только следующие вид доставки и оплаты:
                    <br>
                    Самовывоз из пункта выдачи заказов и оплата при получении.
                    <br>
                    Самовывоз осуществляется по будням с 10:00 до 18:00
                </p>
            </div>
        </div>
    </div>
{% endblock %}