{% extends 'admin/admin.html' %}
{% block title %}Добавить{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_good_color_index' %}">«Варианты цвета»</a></li>
        <li class="active">Добавить</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'admin/_form.html' %}
{% endblock %}