{% load url from future %}
<!doctype html>
<html lang="ru">
<head><title>Регистрация на сайте {{ site.name }}</title></head>
<body>
<p>
    Вы (или кто-то за вас) попросили зарегистрировать учетную запись на сайте {{ site.name }}. Если это не вы,
    пожалуйста, проигнорируйте это письмо и ваш адрес будет удален из нашей базы.
</p>

<p>
    Чтобы активировать учетную запись, пожалуйста, нажмите на ссылку ниже. На активацию у вас {{ expiration_days }} дня.
</p>

<p>
    <a href="https://{{ site.domain }}{% url 'registration_activate' activation_key %}">
        {{ site.domain }}{% url 'registration_activate' activation_key %}
    </a>
</p>

<p>
    С уважением, Администрация сайта {{ site.name }}
</p>
</body>
</html>