{% extends "public/public.html" %}
{% block title %}Авторизация{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a href="{% url 'public_index' %}">Главная</a></li>
            <li class="active">Авторизация</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form-horizontal checkout" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-bg">
                        <div class="title">Авторизация</div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <input name="username"
                                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                   type="text" class="form-control" placeholder="Номер телефона">
                        </div>
                        <div class="col-sm-6">
                            <input name="password"
                                   value="{% if form.password.value %}{{ form.password.value }}{% endif %}"
                                   type="password" class="form-control" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-default btn-red">Войти</button>
                        </div>
                        <div class="col-sm-6 auth-urls">
                            <a href="{% url 'registration_register' %}">Регистрация</a>
                            <br/>
                            <a href="{% url 'auth_password_reset' %}">Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-12">
                            {% if form.errors %}
                                <span class="help-block error-block">Пожалуйста, введите правильные номер телефон и пароль.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}