{% extends "public/public.html" %}
{% block title %}Выход{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a title="Главная" href="{% url 'public_index' %}">Главная</a></li>
            <li class="active">Выход</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <script>
        window.location.href = '{% url 'public_index' %}';
    </script>
{% endblock %}