{% extends "public/public.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a title="Главная" href="{% url 'public_index' %}">Главная</a></li>
            <li class="active">Восстановление пароля</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form-horizontal checkout" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-bg">
                        <div class="title">Восстановление пароля</div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-12">
                        <span class="help-block">Забыли пароль? Введите свой электронный адрес в форму, и мы вышлем вам инструкции по созданию
                    нового.</span>
                            <input name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                   type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-default btn-red">Восстановить</button>
                        </div>
                        <div class="col-sm-6 auth-urls">
                            <a title="Авторизация" href="{% url 'auth_login' %}">Авторизация</a>
                            <br/>
                            <a title="Регистрация" href="{% url 'registration_register' %}">Регистрация</a>
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-12">
                            {% if form.errors %}
                                <span class="help-block error-block">Пожалуйста, введите правильные email.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}