{% extends "public/public.html" %}
{% block title %}Сбросить пароль{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a title="Главная" href="{% url 'public_index' %}">Главная</a></li>
            <li class="active">Сбросить пароль</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form-horizontal checkout" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-bg">
                        <div class="title">Сбросить пароль</div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <input name="new_password1"
                                   value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}"
                                   type="password" class="form-control" placeholder="Новый пароль">
                            <span class="help-block error-block">{{ form.new_password1.errors }}</span>
                        </div>
                        <div class="col-sm-6">
                            <input name="new_password2"
                                   value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}"
                                   type="password" class="form-control" placeholder="Еще раз пароль">
                            <span class="help-block error-block">{{ form.new_password2.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-default btn-red">Сбросить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}