{% extends "public/public.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a title="Главная" href="{% url 'public_index' %}">Главная</a></li>
            <li class="active">Восстановление пароля</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    Ваш пароль был изменен!
                </h4>
            </div>
        </div>
    </div>
{% endblock %}