{% extends "public/public.html" %}
{% block title %}Регистрация{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a title="Главная" href="{% url 'public_index' %}">Главная</a></li>
            <li class="active">Регистрация</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form-horizontal checkout" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-bg">
                        <div class="title">Регистрация</div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <input name="last_name"
                                   value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                   type="text" class="form-control" placeholder="Фамилия">
                            <span class="help-block error-block">{{ form.last_name.errors }}</span>
                        </div>
                        <div class="col-sm-6">
                            <input name="first_name"
                                   value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                   type="text" class="form-control" placeholder="Имя">
                            <span class="help-block error-block">{{ form.first_name.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <input name="username"
                                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                   type="text" class="form-control" placeholder="Телефон">
                            <span class="help-block error-block">{{ form.username.errors }}</span>
                        </div>
                        <div class="col-sm-6">
                            <input name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                   type="text" class="form-control" placeholder="Email">
                            <span class="help-block error-block">{{ form.email.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <input name="password1"
                                   value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                   type="password" class="form-control" placeholder="Пароль">
                            <span class="help-block error-block">{{ form.password1.errors }}</span>
                        </div>
                        <div class="col-sm-6">
                            <input name="password2"
                                   value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                   type="password" class="form-control" placeholder="Подтверждение пароля">
                            <span class="help-block error-block">{{ form.password2.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group dob">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-default btn-red">Регистрация</button>
                        </div>
                        <div class="col-sm-6 auth-urls">
                            <a title="Авторизация" href="{% url 'auth_login' %}">Авторизация</a>
                            <br/>
                            <a title="Забыли пароль?" href="{% url 'auth_password_reset' %}">Забыли пароль?</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}