{% extends "public/public.html" %}
{% block title %}Регистрация{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="small-menu-bread">
            <li><a title="Главная" href="{% url 'public_index' %}">Главная</a></li>
            <li class="active">Регистрация</li>
        </ul>
        <div class="clearfix"></div>
        <div class="lines"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="text-center">Регистрация на сайте временно закрыта.</h4>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}