{% if groups %}
    {% for group in groups %}
        {% if group.get_children %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ group }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for item in group.get_children %}
                        <li>
                            <a title="{{ item.name }}" href="{% url 'public_category_list' item.get_slug %}">
                                {{ item.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>
                <a title="{{ item.name }}" href="{% url 'public_category_list' group.get_slug %}">
                    {{ group.name }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}