{% load thumbnail humanize %}
{% if hot_stores %}
    <div class="f-widget featpro">
        <div class="container">
            <div class="title-widget-bg">
                <div class="title-widget">Популярные товары</div>
                <div class="carousel-nav">
                    <a class="prev"></a>
                    <a class="next"></a>
                </div>
            </div>
            <div id="product-carousel" class="owl-carousel owl-theme">
                {% for store in hot_stores %}
                    <div class="item">
                        <div class="productwrap">
                            <div class="pr-img">
                                <a href="{% url 'public_product_detail' store.good.group.get_slug store.slug %}" title="{{ store.good.name }}">
                                    <img src="{% thumbnail store.image 250x164 %}" alt="{{ store.good.name }}" class="img-responsive"/>
                                </a>
                        {% if store.price_discount %}
                            <div class="pricetag popular-pricetag on-sale">
                                <div class="inner on-sale">
                                        <span class="onsale">
                                            <span class="oldprice">{{ store.get_price_discount|intcomma }} руб.</span>
                                            {{ store.get_price|intcomma }} руб.
                                        </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="pricetag popular-pricetag blue">
                                <div class="inner">{{ store.get_price|intcomma }} руб.</div>
                            </div>
                        {% endif %}
                            </div>
                            <span class="smalltitle popular-title">
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}