{% extends "public/public.html" %}
{% block title %}404 - Страница не найдена{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>404</h1>
            <h4>Страница не найдена</h4>
        </div>
    </div>
{% endblock %}