{% extends "public/public.html" %}
{% block title %}500 - Ошибка сервера{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>500</h1>
            <h4>Ошибка сервера</h4>
        </div>
    </div>
{% endblock %}