{% extends 'admin/admin.html' %}
{% load static %}
{% block title %}Редактировать {{ goodbrand.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_index' %}">«Администрирование»</a></li>
        <li><a href="{% url 'admin_good_brand_index' %}">«Бренды»</a></li>
        <li class="active">Редактировать {{ goodbrand.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'admin/_form.html' %}
    {{ form.media.js }}
{% endblock %}